<h1> New Food Item : </h1>
<%= form_tag "/foods", method: :post do %>
  <div>
    Food Name: <input type="text" name="form_name">
  </div>
  <div>
    Origin: <input type="text" name="form_origin">
  </div>
<input type="submit" value="Create New Entry">
 <% end %>